/* line 1, menu.scss */
.rc {
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}

/* line 8, menu.scss */
.lc {
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}

/* RSmenu */
